## The Magic Commands in `Chapyter`

In [1]:
%load_ext chapyter

import os

os.environ["OPENAI_API_KEY"] = "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"
os.environ["OPENAI_ORGANIZATION"] = ""

['/Users/emmettgoodman/Documents/startup/mocha/code/chapyter/examples', '/Users/emmettgoodman/miniconda3/lib/python310.zip', '/Users/emmettgoodman/miniconda3/lib/python3.10', '/Users/emmettgoodman/miniconda3/lib/python3.10/lib-dynload', '', '/Users/emmettgoodman/.local/lib/python3.10/site-packages', '/Users/emmettgoodman/Documents/startup/mocha/code/chapyter', '/Users/emmettgoodman/miniconda3/lib/python3.10/site-packages']

2023-09-17 19:10:44.621 WARNING streamlit.runtime.state.session_state_proxy: Session state does not function when running a script without `streamlit run`

In [4]:
def get_execution_history(ipython, get_output=True, width=4):
    def limit_output(output, limit=100):
        """Limit the output to a certain number of words."""
        words = output.split()
        if len(words) > limit:
            return " ".join(words[:limit]) + "..."
        return output

In [6]:
ipython = get_ipython()

history = get_execution_history(ipython)
print(history)

None

In [7]:
a = 3

In [8]:
history = get_execution_history(ipython)
print(history)

None

In [2]:
%%mimic --safe -h

Retrieve all data from ICUSTAYS table

Prehook:
Retrieve all data from ICUSTAYS table



Posthook, right before guidance program:  {'llm_conversation': '```\n%%mimic --safe -h\n\nRetrieve all data from ICUSTAYS table\n```\n'}
In guidance, will be plugging in {'llm_conversation': '```\n%%mimic --safe -h\n\nRetrieve all data from ICUSTAYS table\n```\n'} AND {'silent': True}


After execution, have response:
<|im_start|>system
You are a helpful and assistant and you are chatting with an programmer interested in retrieving data from the MIMIC-III SQL database on AWS Athena.
If they ask for something that is answerable with a SQL query, make sure there is only one SELECT statement.<|im_end|>

<|im_start|>user
Here is my code so far:
```
%%mimic --safe -h

Retrieve all data from ICUSTAYS table
```
<|im_end|>

<|im_start|>assistant
It seems like you're trying to retrieve all data from the ICUSTAYS table. Here is the SQL query you can use:

```sql
SELECT * FROM ICUSTAYS;
```

This will return all rows and columns from the ICUSTAYS table. Please be aware that if the table is large, this query could take a long time to run and return a lot of data.<|im_end|>



Returning response!

,row_id,subject_id,hadm_id,icustay_id,dbsource,first_careunit,last_careunit,first_wardid,last_wardid,intime,outtime,los
0,365,268,110404,280836,carevue,MICU,MICU,52,52,2198-02-14 23:27:38.000,2198-02-18 05:26:11.000,3.249
1,366,269,106296,206613,carevue,MICU,MICU,52,52,2170-11-05 11:05:29.000,2170-11-08 17:46:57.000,3.2788
2,367,270,188028,220345,carevue,CCU,CCU,57,57,2128-06-24 15:05:20.000,2128-06-27 12:32:29.000,2.8939
3,368,271,173727,249196,carevue,MICU,SICU,52,23,2120-08-07 23:12:42.000,2120-08-10 00:39:04.000,2.06
4,369,272,164716,210407,carevue,CCU,CCU,57,57,2186-12-25 21:08:04.000,2186-12-27 12:01:13.000,1.6202

In [ ]:
# Assistant Code for Cell [2]:
# It seems like you're trying to retrieve all data from the ICUSTAYS table. Here is the SQL query you can use:
SELECT * FROM ICUSTAYS;
# This will return all rows and columns from the ICUSTAYS table. Please be aware that if the table is large, this query could take a long time to run and return a lot of data.

In [3]:
%%mimic --safe -h

Regenerate the last SQL query and table.

Prehook:
Regenerate the last SQL query and table.



Posthook, right berfore guidance program:  {'code_history': '```\n%%mimic --safe -h\n\nRetrieve all data from ICUSTAYS table\n```\n\n```\n%%mimic --safe -h\n\nRegenerate the last SQL query and table.\n```\n'}


After execution, have response:
<|im_start|>system
You are a helpful and assistant and you are chatting with an programmer interested in retrieving data from the MIMIC-III SQL database on AWS Athena.
If they ask for something that is answerable with a SQL query, make sure there is only one SELECT statement.<|im_end|>

<|im_start|>user
Here is my code so far:
```
%%mimic --safe -h

Retrieve all data from ICUSTAYS table
```

```
%%mimic --safe -h

Regenerate the last SQL query and table.
```
<|im_end|>

<|im_start|>assistant
It seems like you're trying to retrieve all data from the ICUSTAYS table and regenerate the last SQL query and table. However, the commands you're using are not standard SQL commands.

To retrieve all data from the ICUSTAYS table, you can use the following SQL query:

```sql
SELECT * FROM ICUSTAYS;
```

As for regenerating the last SQL query and table, SQL does not have a built-in feature to do this. You would need to manually run the last query again. If you want to keep track of your queries, you might consider saving them in a script or a separate document.<|im_end|>

,row_id,subject_id,hadm_id,icustay_id,dbsource,first_careunit,last_careunit,first_wardid,last_wardid,intime,outtime,los
0,365,268,110404,280836,carevue,MICU,MICU,52,52,2198-02-14 23:27:38.000,2198-02-18 05:26:11.000,3.249
1,366,269,106296,206613,carevue,MICU,MICU,52,52,2170-11-05 11:05:29.000,2170-11-08 17:46:57.000,3.2788
2,367,270,188028,220345,carevue,CCU,CCU,57,57,2128-06-24 15:05:20.000,2128-06-27 12:32:29.000,2.8939
3,368,271,173727,249196,carevue,MICU,SICU,52,23,2120-08-07 23:12:42.000,2120-08-10 00:39:04.000,2.06
4,369,272,164716,210407,carevue,CCU,CCU,57,57,2186-12-25 21:08:04.000,2186-12-27 12:01:13.000,1.6202

In [ ]:
# Assistant Code for Cell [3]:
# It seems like you're trying to retrieve all data from the ICUSTAYS table and regenerate the last SQL query and table. However, the commands you're using are not standard SQL commands. 
# To retrieve all data from the ICUSTAYS table, you can use the following SQL query:
SELECT * FROM ICUSTAYS;
# As for regenerating the last SQL query and table, SQL does not have a built-in feature to do this. You would need to manually run the last query again. If you want to keep track of your queries, you might consider saving them in a script or a separate document.

In [8]:
%%chat --safe -h

Join the last table with the PATIENTS table.

InvalidRequestException: An error occurred (InvalidRequestException) when calling the StartQueryExecution operation: Only one sql statement is allowed. Got: SELECT * FROM ICUSTAYS;
SELECT *
FROM ICUSTAYS
JOIN PATIENTS
ON ICUSTAYS.SUBJECT_ID = PATIENTS.SUBJECT_ID;