In [1]:
%load_ext chapyter

2023-09-17 22:57:25.467 WARNING streamlit.runtime.state.session_state_proxy: Session state does not function when running a script without `streamlit run`

In [2]:
%%mimicSQL

Retrieve all data from ICUSTAYS table

,row_id,subject_id,hadm_id,icustay_id,dbsource,first_careunit,last_careunit,first_wardid,last_wardid,intime,outtime,los
0,365,268,110404,280836,carevue,MICU,MICU,52,52,2198-02-14 23:27:38.000,2198-02-18 05:26:11.000,3.249
1,366,269,106296,206613,carevue,MICU,MICU,52,52,2170-11-05 11:05:29.000,2170-11-08 17:46:57.000,3.2788
2,367,270,188028,220345,carevue,CCU,CCU,57,57,2128-06-24 15:05:20.000,2128-06-27 12:32:29.000,2.8939
3,368,271,173727,249196,carevue,MICU,SICU,52,23,2120-08-07 23:12:42.000,2120-08-10 00:39:04.000,2.06
4,369,272,164716,210407,carevue,CCU,CCU,57,57,2186-12-25 21:08:04.000,2186-12-27 12:01:13.000,1.6202

In [ ]:
# Assistant Code for Cell [2]:
Sure, here is the SQL query to retrieve all data from the ICUSTAYS table:

```sql
SELECT * 
FROM mimic.icustays;
```

Please note that this query will return all the rows and columns from the ICUSTAYS table. If you are looking for specific columns or rows, you might want to modify the query to suit your needs.

In [3]:
%%mimicPython

How many rows and columns are in this dataset?

Result : (999, 12)

In [ ]:
# Assistant Code for Cell [3]:
To find out the number of rows and columns in the dataframe, you can use the shape attribute. Here is the Python code:

```python
num_rows, num_cols = df.shape
print(f'There are {num_rows} rows and {num_cols} columns in the dataframe.')
```

Please replace `df` with the actual variable name of your dataframe.
Result : (999, 12)

In [ ]:
%%mimicPython

What is the average first_wardid value?

In [ ]:
%%mimicSQL

What are the column names of that table? And what do they mean?

In [ ]:
%%mimicPython

What is the minimum, mean, and max first_wardid values?

In [ ]:
%%mimicPython

How many rows and columns are in this dataset?

In [ ]:
%%mimicSQL

Join the first table we retrieved with the PATIENTS table.

In [ ]:
%%mimicPython

How many rows and columns are in this new dataset?