## The Magic Commands in `Chapyter`

In [1]:
%load_ext chapyter

import os

os.environ["OPENAI_API_KEY"] = "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"
os.environ["OPENAI_ORGANIZATION"] = ""

['/Users/emmettgoodman/Documents/startup/mocha/code/chapyter/examples', '/Users/emmettgoodman/miniconda3/lib/python310.zip', '/Users/emmettgoodman/miniconda3/lib/python3.10', '/Users/emmettgoodman/miniconda3/lib/python3.10/lib-dynload', '', '/Users/emmettgoodman/.local/lib/python3.10/site-packages', '/Users/emmettgoodman/Documents/startup/mocha/code/chapyter', '/Users/emmettgoodman/miniconda3/lib/python3.10/site-packages']

2023-09-17 14:43:29.654 WARNING streamlit.runtime.state.session_state_proxy: Session state does not function when running a script without `streamlit run`

In [2]:
%%chat --safe -h

Retrieve all data from ICUSTAYS table

Modelinputmessage {'code_history': 'Retrieve all data from ICUSTAYS table\n'}

,row_id,subject_id,hadm_id,icustay_id,dbsource,first_careunit,last_careunit,first_wardid,last_wardid,intime,outtime,los
0,365,268,110404,280836,carevue,MICU,MICU,52,52,2198-02-14 23:27:38.000,2198-02-18 05:26:11.000,3.249
1,366,269,106296,206613,carevue,MICU,MICU,52,52,2170-11-05 11:05:29.000,2170-11-08 17:46:57.000,3.2788
2,367,270,188028,220345,carevue,CCU,CCU,57,57,2128-06-24 15:05:20.000,2128-06-27 12:32:29.000,2.8939
3,368,271,173727,249196,carevue,MICU,SICU,52,23,2120-08-07 23:12:42.000,2120-08-10 00:39:04.000,2.06
4,369,272,164716,210407,carevue,CCU,CCU,57,57,2186-12-25 21:08:04.000,2186-12-27 12:01:13.000,1.6202

In [ ]:
# Assistant Code for Cell [2]:
# Sure, to retrieve all data from the ICUSTAYS table, you can use the following SQL query:
SELECT * 
FROM mimic.icustays;
# This will return all columns and rows from the ICUSTAYS table in the MIMIC-III database.

In [ ]:
%%chat --safe -h

Regenerate the last SQL query and table.

Modelinputmessage {'code_history': 'Retrieve all data from ICUSTAYS table\n\nRegenerate the last SQL query and table. Only return SQL code.\n'}