## The Magic Commands in `Chapyter`

In [1]:
#Step 1: %mimic cell magic triggered
#Step 2: def execute_chat (doesn't do anything interesting, passes on message)
#Step 3: def execute (doesn't do anything interesting, passes on message)
#Step 4: guidance_program - this is where we input our custom phrasing

In [2]:
!pwd

/Users/emmettgoodman/Documents/startup/mocha/code/chapyter/examples

In [3]:
%load_ext chapyter

import os

os.environ["OPENAI_API_KEY"] = "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"
os.environ["OPENAI_ORGANIZATION"] = ""

['/Users/emmettgoodman/Documents/startup/mocha/code/chapyter/examples', '/Users/emmettgoodman/miniconda3/lib/python310.zip', '/Users/emmettgoodman/miniconda3/lib/python3.10', '/Users/emmettgoodman/miniconda3/lib/python3.10/lib-dynload', '', '/Users/emmettgoodman/.local/lib/python3.10/site-packages', '/Users/emmettgoodman/Documents/startup/mocha/code/chapyter', '/Users/emmettgoodman/miniconda3/lib/python3.10/site-packages']

2023-09-17 14:23:08.436 WARNING streamlit.runtime.state.session_state_proxy: Session state does not function when running a script without `streamlit run`

In [4]:
%%chat --safe

Retrieve all data from ICUSTAYS table

,row_id,subject_id,hadm_id,icustay_id,dbsource,first_careunit,last_careunit,first_wardid,last_wardid,intime,outtime,los
0,365,268,110404,280836,carevue,MICU,MICU,52,52,2198-02-14 23:27:38.000,2198-02-18 05:26:11.000,3.249
1,366,269,106296,206613,carevue,MICU,MICU,52,52,2170-11-05 11:05:29.000,2170-11-08 17:46:57.000,3.2788
2,367,270,188028,220345,carevue,CCU,CCU,57,57,2128-06-24 15:05:20.000,2128-06-27 12:32:29.000,2.8939
3,368,271,173727,249196,carevue,MICU,SICU,52,23,2120-08-07 23:12:42.000,2120-08-10 00:39:04.000,2.06
4,369,272,164716,210407,carevue,CCU,CCU,57,57,2186-12-25 21:08:04.000,2186-12-27 12:01:13.000,1.6202
...,...,...,...,...,...,...,...,...,...,...,...,...
994,611,460,145034,232390,carevue,NICU,NICU,56,56,2117-05-28 01:50:43.000,2117-05-30 14:09:10.000,2.5128
995,612,461,185084,225879,carevue,CSRU,CSRU,15,15,2122-01-11 07:23:00.000,2122-01-13 13:19:05.000,2.2473
996,613,462,115006,284942,carevue,CCU,CCU,57,57,2131-05-25 15:49:00.000,2131-05-28 09:50:00.000,2.7507
997,614,463,197296,222466,carevue,CSRU,CCU,14,57,2198-10-05 16:44:09.000,2198-10-07 21:42:42.000,2.2073
998,615,464,194697,272880,carevue,SICU,SICU,57,57,2171-04-18 12:44:03.000,2171-04-19 20:14:19.000,1.3127

In [ ]:
# Assistant Code for Cell [4]:
# Sure, here is the SQL code to retrieve all data from the ICUSTAYS table:
SELECT * 
FROM ICUSTAYS;
# This will return all rows and columns from the ICUSTAYS table.

In [5]:
%%chat --safe

Retrieve all data from PATIENTS table

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,expire_flag
0,234,249,F,2075-03-13 00:00:00.000,None,None,None,0
1,235,250,F,2164-12-27 00:00:00.000,2188-11-22 00:00:00.000,2188-11-22 00:00:00.000,None,1
2,236,251,M,2090-03-15 00:00:00.000,None,None,None,0
3,237,252,M,2078-03-06 00:00:00.000,None,None,None,0
4,238,253,F,2089-11-26 00:00:00.000,None,None,None,0
...,...,...,...,...,...,...,...,...
994,883,936,F,2113-10-21 00:00:00.000,2197-09-15 00:00:00.000,2197-09-15 00:00:00.000,2197-09-15 00:00:00.000,1
995,884,937,M,2087-09-24 00:00:00.000,2163-01-26 00:00:00.000,2163-01-26 00:00:00.000,2163-01-25 00:00:00.000,1
996,885,938,F,2067-01-15 00:00:00.000,2121-10-29 00:00:00.000,None,2121-10-29 00:00:00.000,1
997,886,939,F,2179-05-07 00:00:00.000,None,None,None,0
998,887,940,F,2131-04-19 00:00:00.000,2194-06-25 00:00:00.000,2194-06-25 00:00:00.000,2194-06-25 00:00:00.000,1

In [ ]:
# Assistant Code for Cell [5]:
# Sure, here is the SQL code to retrieve all data from the PATIENTS table:
SELECT * 
FROM PATIENTS;

In [6]:
print(df.columns)

Index(['row_id', 'subject_id', 'gender', 'dob', 'dod', 'dod_hosp', 'dod_ssn',
       'expire_flag'],
      dtype='object')