In [1]:
%load_ext autoreload

In [2]:
%autoreload 2

In [3]:
%load_ext chapyter

2023-09-19 08:59:27.503 WARNING streamlit.runtime.state.session_state_proxy: Session state does not function when running a script without `streamlit run`

In [4]:
2+2

4

In [5]:
print("THIS IS A TEST")

THIS IS A TEST

In [14]:
%%mimicSQL

Retrieve all data from PATIENTS table please.

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,expire_flag
0,234,249,F,2075-03-13 00:00:00.000,None,None,None,0
1,235,250,F,2164-12-27 00:00:00.000,2188-11-22 00:00:00.000,2188-11-22 00:00:00.000,None,1
2,236,251,M,2090-03-15 00:00:00.000,None,None,None,0
3,237,252,M,2078-03-06 00:00:00.000,None,None,None,0
4,238,253,F,2089-11-26 00:00:00.000,None,None,None,0

In [ ]:
# Assistant Code for Cell [14]:
Sure, here is the SQL query to retrieve all data from the PATIENTS table:

```sql
SELECT * 
FROM patients;
```

In [ ]:
%%mimicPython

How many M vs F are there?