In [1]:
%load_ext autoreload

In [2]:
%autoreload 2

In [3]:
%load_ext chapyter

2023-09-20 20:39:47.050 WARNING streamlit.runtime.state.session_state_proxy: Session state does not function when running a script without `streamlit run`

In [6]:
%%mimicSQL

Retrieve all data on men and women with “sepsis,” “severe sepsis,” or “septic shock”.

Sure, to retrieve all data on men and women with "sepsis", "severe sepsis", or "septic shock", you can use the following SQL query:

```sql
SELECT *
FROM patients
JOIN diagnoses_icd ON patients.subject_id = diagnoses_icd.subject_id
WHERE diagnoses_icd.icd9_code IN ('99591', '99592', '78552')
```

In this query, '99591', '99592', and '78552' are the ICD-9 codes for "sepsis", "severe sepsis", and "septic shock" respectively. Please note that the actual table names and column names might vary depending on the structure of your MIMIC-III dataset.

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,expire_flag,row_id,subject_id,hadm_id,seq_num,icd9_code
0,235,250,F,2164-12-27 00:00:00.000,2188-11-22 00:00:00.000,2188-11-22 00:00:00.000,None,1,3060,250,124271,10,99592
1,235,250,F,2164-12-27 00:00:00.000,2188-11-22 00:00:00.000,2188-11-22 00:00:00.000,None,1,3052,250,124271,2,78552
2,252,269,M,2130-09-30 00:00:00.000,None,None,None,0,3236,269,106296,8,99592
3,252,269,M,2130-09-30 00:00:00.000,None,None,None,0,3230,269,106296,2,78552
4,650,689,F,2128-12-27 00:00:00.000,None,None,None,0,7851,689,129080,2,99591

In [ ]:
%%mimicSQL

Give me the same table but include gender of subjects

In [ ]:
%%mimicPython

What is the gender distribution of these patients? In percentage.