In [1]:
%load_ext autoreload

In [2]:
%autoreload 2

In [3]:
%load_ext chapyter

2023-09-20 20:52:13.881 WARNING streamlit.runtime.state.session_state_proxy: Session state does not function when running a script without `streamlit run`

In [4]:
#Include columns with their age and genders.

In [5]:
%%mimicSQL

Retrieve all data on men and women with “sepsis,” “severe sepsis,” or “septic shock”.

Sure, to retrieve all data on men and women with "sepsis", "severe sepsis", or "septic shock", you can use the DIAGNOSES_ICD table which contains ICD-9 codes for diagnoses. The ICD-9 codes for sepsis, severe sepsis, and septic shock are 995.91, 995.92, and 785.52 respectively. Here is a SQL query that should get you the data:

```sql
SELECT *
FROM mimic.mimiciii.diagnoses_icd
WHERE icd9_code IN ('99591', '99592', '78552')
```

Please note that this query will only return the diagnoses data. If you need additional information such as patient demographics, you will need to join this table with others such as the PATIENTS or ADMISSIONS table.

  row_id subject_id hadm_id seq_num icd9_code
0   1547        117  164853      16     99592
1   1604        124  138376       6     99592
2    505         64  172056       3     99591
3    679         85  112077      18     99591
4    131         21  111970       2     78552

In [15]:
%%mimicSQL

Same table but include age, gender, date of birth, and admittime.

Sure, to include age, gender, date of birth, and admittime, we will need to join the DIAGNOSES_ICD table with the PATIENTS and ADMISSIONS tables. Here is a SQL query that should get you the data:

```sql
SELECT d.*, p.gender, p.dob, a.admittime,
       EXTRACT(YEAR FROM a.admittime) - EXTRACT(YEAR FROM p.dob) AS age
FROM mimic.mimiciii.diagnoses_icd d
JOIN mimic.mimiciii.patients p ON d.subject_id = p.subject_id
JOIN mimic.mimiciii.admissions a ON d.hadm_id = a.hadm_id
WHERE d.icd9_code IN ('99591', '99592', '78552')
```

This query will return the diagnoses data along with the patient's gender, date of birth, admission time, and age at the time of admission. Please note that the age is calculated as the difference in years between the admission time and the date of birth.

,row_id,subject_id,hadm_id,seq_num,icd9_code,gender,dob,admittime,age
0,1547,117,164853,16,99592,F,2083-12-28 00:00:00.000,2133-11-13 21:34:00.000,50
1,1604,124,138376,6,99592,M,2090-11-19 00:00:00.000,2165-12-31 18:55:00.000,75
2,505,64,172056,3,99591,F,2116-06-27 00:00:00.000,2143-03-03 09:25:00.000,27
3,679,85,112077,18,99591,M,2090-09-18 00:00:00.000,2167-07-25 18:49:00.000,77
4,131,21,111970,2,78552,M,2047-04-04 00:00:00.000,2135-01-30 20:50:00.000,88

In [27]:
%%mimicSQL

Same table but assign all patients with age > 89 to have age = 91.5

Sure, to adjust the ages of patients older than 89 to 91.5, you can use a CASE statement in the SQL query. Here is the updated query:

```sql
SELECT d.*, p.gender, p.dob, a.admittime,
       CASE
           WHEN EXTRACT(YEAR FROM a.admittime) - EXTRACT(YEAR FROM p.dob) > 89 THEN 91.5
           ELSE EXTRACT(YEAR FROM a.admittime) - EXTRACT(YEAR FROM p.dob)
       END AS age
FROM mimic.mimiciii.diagnoses_icd d
JOIN mimic.mimiciii.patients p ON d.subject_id = p.subject_id
JOIN mimic.mimiciii.admissions a ON d.hadm_id = a.hadm_id
WHERE d.icd9_code IN ('99591', '99592', '78552')
```

This query will return the same data as before, but now all patients older than 89 will have their age listed as 91.5.

  row_id subject_id hadm_id seq_num icd9_code gender                      dob  \
0   1547        117  164853      16     99592      F  2083-12-28 00:00:00.000
1   1604        124  138376       6     99592      M  2090-11-19 00:00:00.000
2    505         64  172056       3     99591      F  2116-06-27 00:00:00.000
3    679         85  112077      18     99591      M  2090-09-18 00:00:00.000
4    131         21  111970       2     78552      M  2047-04-04 00:00:00.000

                 admittime   age
0  2133-11-13 21:34:00.000  50.0
1  2165-12-31 18:55:00.000  75.0
2  2143-03-03 09:25:00.000  27.0
3  2167-07-25 18:49:00.000  77.0
4  2135-01-30 20:50:00.000  91.5

,row_id,subject_id,hadm_id,seq_num,icd9_code,gender,dob,admittime,age
0,1547,117,164853,16,99592,F,2083-12-28 00:00:00.000,2133-11-13 21:34:00.000,50.0
1,1604,124,138376,6,99592,M,2090-11-19 00:00:00.000,2165-12-31 18:55:00.000,75.0
2,505,64,172056,3,99591,F,2116-06-27 00:00:00.000,2143-03-03 09:25:00.000,27.0
3,679,85,112077,18,99591,M,2090-09-18 00:00:00.000,2167-07-25 18:49:00.000,77.0
4,131,21,111970,2,78552,M,2047-04-04 00:00:00.000,2135-01-30 20:50:00.000,88.0

In [29]:
%%mimicPython

Calculate average per gender

Sure, to calculate the average age per gender, you can use the groupby function in pandas. Here is the python code:

```python
average_age_per_gender = df.groupby('gender')['age'].mean()
```

This will return a Series with the average age for each gender.
GOT EXCEPTION agg function failed [how->mean,dtype->object]

NameError: name 'df' is not defined

In [30]:
%%mimicPython

Try again

I apologize for the error. It seems that the 'age' column might not be in the correct numerical format. Let's convert it to a float and then calculate the average age per gender. Here is the updated python code:

```python
df['age'] = df['age'].astype(float)
average_age_per_gender = df.groupby('gender')['age'].mean()
average_age_per_gender
```

This will return a Series with the average age for each gender.

 Result : gender
F    66.813578
M    66.025234
Name: age, dtype: float64